<!--
  Generated template for the NewMoviePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="new-movie-content">
  <h1>Cadastro de filme</h1>

  <form (ngSubmit)="saveMovie()" padding>
    <div>
      <label for="file">Imagem</label>
      <file-uploader (base64File)="onImageFileLoad($event)" class="m-t-5"></file-uploader>
    </div>
    <div>
      <label for="title">Nome</label>
      <input type="text" name="title" [(ngModel)]="movie.title" class="m-t-5">
    </div>
    <div>
        <label for="category">Categoria</label>
        <input type="text" name="category" [(ngModel)]="movie.categoryName" class="m-t-5">
    </div>
    <div>
        <label for="time">Duração (min)</label>
        <input type="number" name="time" [(ngModel)]="movie.duration" class="m-t-5">
    </div>
    <button ion-button color="danger" round block text-capitalize>Cadastrar</button>
  </form>
</ion-content>
