.new-movie-content{
    margin-top:0px!important;
    background-color: $neutral-lightest!important;

    label {
        font-size: 16px;
    }
    
    input {
        @include border-radius(10px);
        font-size: 18px;
        padding: 4px;
        width: 100%;
        outline: none;
    }
}