<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Explorar" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Novo Filme" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="rodrigo123" tabIcon="person"></ion-tab>
</ion-tabs>
