<div class="section-head">
    <span class="section-head__name">{{sectionName}}</span>
</div>

<ion-card class="movies-item" *ngFor="let movie of movies">
  <img src="{{movie.image}}" />
  <ion-card-content>
    <ion-card-title>
      {{movie.title}}
    </ion-card-title>
    <p class="movies-item-time">
      {{movie.duration}}min
    </p>
    <ion-badge color="secondary" *ngIf="showCategoryBadget">{{getCategoryName(movie)}}</ion-badge>
  </ion-card-content>
</ion-card>
