.section{
 
    &-head{
       width: 100%;
       margin: 20px 20px;
       padding: 5px 10px;
       border-left: 3px solid $primary;
       font-size: 18px;
 
       &__name{
          font-weight: bold;
       }
 
       &__more{
          float: right;
          margin-right: 20px;
          display: none;
       }
    }
 
    &-list{
       margin: 0px -10px;
       width:auto;
       overflow-x:auto;
       white-space:nowrap;
       display: flex;
    }
 
 }
 
.movies-item{
    width: 160px!important;
    margin-left:20px;
    background-color: rgba($neutral, 0.08)!important;
    display: inline-block;
    height: 323px;
    @include border-radius(10px);

    ion-card-content {
        display: inline;
        padding: 0px;

        ion-card-title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 0px;
            padding-left: 5px;
            margin: 0px 10px 10px 10px;
        }

        ion-badge{
            @include border-radius(10px);
            margin: 0px 10px 10px 10px;
            font-size: 16px;
            position: relative;
            padding: 2px 10px;
            display: inline-block;
            color: $neutral-lightest;
            background-color: $primary-dark;
        }
    }

    &-time {
        font-size: 14px!important;
        color: $neutral!important;
        padding-left: 15px;
    }
}