<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title><h1>A sua sala de cinema</h1></ion-title>
        <p class="toolbar__subtitle">
            Assista aos melhores filmes de graça
        </p>
        <div class="toolbar-search">
          <input class="toolbar-search__input" type="text" placeholder="Procurar filme" [(ngModel)]="nameSearch">
          <i class="toolbar-search__icon fas fa-search"></i>
        </div>
    </ion-navbar>    
</ion-header>

<ion-content class="explore-content">
    <div *ngIf="showCategories()">
      <category-movie-list *ngFor="let category of categories" [category]="category" [showCategoryBadget]="false"></category-movie-list>
    </div>
    <div *ngIf="showSearchResult()">
      <category-movie-list [(nameSearch)]="nameSearch" [showCategoryBadget]="true"></category-movie-list>
    </div>
</ion-content>