.explore-content{
    background-color: $neutral-lightest!important;

    .fixed-content, .scroll-content{
        margin-top:170px!important;
    }
}

input {
    @include border-radius(10px);
    font-size: 18px;
    padding: 4px;
    width: 100%;
    outline: none;
 }

 .header{
    height: 150px;
    width: 100%;
    display: block;
    overflow: visible;
    margin-bottom: 40px;
    padding: 20px 0 0 0;
    background-color: $primary-dark;
    color: $neutral-lightest;
    position: relative;
    z-index: 1;
    
    &::after{
       background-image: url('../assets/imgs/back.jpg')!important;
       background-size: 100%;
       content : "";
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%!important;
       height: 100%!important;
       opacity : 0.08;
       z-index: -1;
    }

    .toolbar{
        text-align: center;
        z-index: 1;
        margin-bottom: 0px;
    
        &-background{
            background: none;
        }
    
        &-title{
            color: $neutral-lightest;
            font-weight: bold;
            font-size: 1.1em;
        }
        & h1, &__subtitle, &-search{
            text-align: center;
            z-index: 1;
            font-weight: bold;
         }
      
         & h1{
            margin-bottom: 0px;
            font-size: 2em;
         }
      
         &__subtitle{
            margin-bottom: 30px!important;
            margin-top: 5px;
         }
      
         &-search{
            position: relative!important;
            padding-left: 20px;
            padding-right: 20px;
            height: 100%;
      
            &__icon{
               position: absolute;
               top: 8px;
               left: 32px;
               color: $neutral-dark;
            }
      
            &__input{
               position: relative;
               width: 100%;
               padding-left: 35px;
            }
         }
    }
}